{% extends "base.html" %}

{% block content %}
<div>
    <p>Question set by: {{ assignment.setter_username }}</p>
    <ol>
        <li>{{ assignment.q1 }}</li>
        <li>{{ assignment.q2 }}</li>
        <li>{{ assignment.q3 }}</li>
    </ol>
    {% if current_user.teacher %}

    {% else %}
        {{ submission.id }}
        {{ submission.aid }}
        {{ assignment.id }}
        {{ submission.submitted }}
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.photo.label }}<br>
                {{ form.photo }} <br>
                {% for error in form.photo.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p> {{ form.submit() }} </p>
        </form>
    {% endif %}
</div>

{% endblock %}


